.select-table {
    height: 100%;
    min-height: 100%;
}

.select-table-action {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.btn.select-table-btn-users {
    border-bottom-right-radius: 0;
    border-right: none;
    border-top-right-radius: 0;
}

.btn.select-table-btn-groups {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn.select-table-btn-eligibleOnly {
    border-color: transparent;
    margin-left: auto;
}

.select-table-btn-eligibleOnly .fa {
    margin-right: 10px;
}

button.btn.select-table-btn-eligibleOnly:hover,
button.btn.select-table-btn-eligibleOnly:focus,
button.btn.select-table-btn-eligibleOnly:active {
    background: none;
    color: inherit;
}

/* search */
.select-table-search {
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 1em;
    outline: none !important;
    transition: 0.2s border-bottom-color;
    width: 100%;
}

.select-table-search:hover,
.select-table-search:focus,
.select-table-search:active {
    border-bottom-color: #777;
}
