.link-table-buttonBar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.btn.link-table-toggleInactive {
    border-color: transparent;
    margin-left: auto;
}

.link-table-toggleInactive .fa {
    margin-right: 10px;
}

button.btn.link-table-toggleInactive:hover,
button.btn.link-table-toggleInactive:focus,
button.btn.link-table-toggleInactive:active {
    background: none;
    color: inherit;
}

/********/
/* list */
/********/
.link-table-list-warning h4 {
    margin-top: 0;
    text-weight: normal;
}

.link-table-list-warning p {
    margin-bottom: 0;
}

.link-table-list {
    list-style: none;
    margin: 0;
}

.link-table-list-entry {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-left: 3px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    line-height: 120%;
    margin: 5px auto;
    padding: 5px 0;
}

.link-table-list-entry[data-active="true"]:hover {
    border-left-color: #666;
}

.link-table-list-entry[data-active="false"] {
    background: #fff7f7;
    border-left-color: #fba8a8;
}

/* link icon */
.link-table-list-entry-icon {
    align-items: center;
    color: #777;
    cursor: pointer;
    display: flex;
    font-size: 1.1em;
    padding: 0 20px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, opacity .15s ease-in-out;
    transition-delay: initial, initial, initial, initial, initial;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow, opacity;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    width: calc(1rem + 40px);
}

.link-table-list-entry[data-active="true"] .link-table-list-entry-icon:hover,
.link-table-list-entry-iconDetails:hover {
    color: inherit;
}

.link-table-list-entry[data-active="false"] .link-table-list-entry-iconLink {
    cursor: not-allowed;
    opacity: 0.5;
}

/* content*/
.link-table-list-entry-content {
    flex-grow: 1;
    font-size: 0.9rem;
}

.link-table-list-entry-content-value {
    font-weight: normal;
}

.link-table-list-entry-content-value.date-expired,
.link-table-list-entry-content-value.max-calls-reached {
    color: red;
}

.link-table-list-entry-content-calls-button {
    border: none;
    font-size: inherit;
    line-height: 100%;
    padding: 3px 5px;
    text-decoration: underline;
}

.link-table-list-entry-content-calls-button:hover,
.link-table-list-entry-content-calls-button:active,
.link-table-list-entry-content-calls-button:focus {
    background: none;
    color: inherit;
}

/***********/
/* details */
/***********/
.link-table-list-entry-details {
    overflow: hidden;
    transition: 0.15s height;
    width: 100%;
}

.link-table-list-entry-details-inner {
    font-size: 0.9rem;
    padding: 10px 0 10px calc(1rem + 40px);
}

.link-table-list-entry-details-inner hr {
    background: #ddd;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

.link-table-list-entry-details-inner-wrapper {
    display: flex;
}

.details-inner-left-entry {
    float: left;
    line-height: 120%;
    margin-bottom: 5px;
    margin-right: 20px;
}

.link-table-list-entry-details-inner-left {
    flex-grow: 1;
}

.details-inner-left-entry-value {
    font-weight: normal;
    line-height: 100%;
}


.link-table-list-entry[data-active="true"] .link-table-list-entry-icon.fa-trash-o:hover {
    color: red;
}

.link-table-list-entry[data-active="false"] .link-table-list-entry-icon.fa-trash-o {
    cursor: not-allowed;
    opacity: 0.5;
    color: inherit;
}