.link-table-buttonBar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.btn.link-table-createLink {
    border-bottom-right-radius: 0;
    border-right: none;
    border-top-right-radius: 0;
}

.btn.link-table-toggleInactive {
    border-color: transparent;
    margin-left: auto;
}

.link-table-toggleInactive .fa {
    margin-right: 10px;
}

button.btn.link-table-toggleInactive:hover,
button.btn.link-table-toggleInactive:focus,
button.btn.link-table-toggleInactive:active {
    background: none;
    color: inherit;
}