.sequry-page-wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #f5f5f5;
}

/* header logo */
.header-logo {
    background: #eee;
    display: flex;
    align-items: center;
    position: relative;
}

.header-logo h2 {
    margin: 0 0 0 2rem;
}

/* header main */
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: relative;
}

/* search  */
.desktop-search {
    display: flex;
    align-items: stretch;
}

.desktop-search input[type="text"] {
    width: 500px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.desktop-search .fa-search {
    display: flex;
    background: #51b7a3;
    color: #fff;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**********/
/* mobile */
/**********/
@media (max-width: 768px) {
    .header-logo,
    .header-main {
        display: none;
    }

    .sequry-page-wrapper {
        display: block;
    }

    .sequry-desktop-menu {
        position: absolute;
        left: -100%;
        z-index: 10;
        height: 100vh;
        max-width: 100%;
    }

    .header-main:before, .main:before {
        display: none;
    }

    /* main list */
    .main {
        padding: 1rem 0 0;
    }

    .main-list .list-desc,
    .main-list .list-type {
        display: none;
    }

    .main-list-header {
        padding: 0 0 10px 0;
    }

    .main-list-entries {
        padding-right: 0;
    }

    .main-list-entry {
        border-bottom: 1px dashed #ddd;
    }

    .main-list-entry:last-child {
        border-bottom: none;
    }

    .main-list-entry .fa {
        padding: 1rem;
    }

    .main-list-header, .main-list-entry {
        grid-template-columns: 3rem 1fr auto;
    }

    .main-list .list-name {
        padding-right: 1rem;
    }

    .main-list-entry .list-action .fa {
        visibility: visible;
    }
}

/*********************/
/* bottom navigation */
/*********************/
.sequry-bottom-navigation {
    background: #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.9rem;
    /*border-top: 1px solid #eee;*/
}

.sequry-bottom-navigation:before {
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    background: linear-gradient(0, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05), transparent);
}

.bottom-navigation {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;
}

.bottom-navigation-entry {
    flex: 1;
}

.bottom-navigation-entry-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0;
    color: #666;
}

.bottom-navigation-entry-link-text {
    font-size: 0.9em;
}

/***************/
/* log in page */
/***************/
.login-main-wrapper {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: minmax(100vh, auto);
    min-height: 100vh;

    /* test */
    /*background: url(https://image.freepik.com/free-vector/vector-abstract-internet-background_1406-134.jpg);*/
    background-size: cover;
}

.login-panelLeft,
.login-panelRight {
    padding: 2em;
    position: relative;
}

.login-panelLeft {
    background: #eee;
    /*background: linear-gradient(45deg, #f5f5f5 40%, #ddddddf8, #eee 80%);*/
}

.login-panelRight {
    background: #fff;
}

.login-panel-wrapper {
    padding-top: 25vh;
}

@media (min-height: 1000px) {
    .login-panel-wrapper {
        padding-top: 15em;
    }
}

@media (max-height: 500px) {
    .login-panel-wrapper {
        padding-top: 20vh;
    }
}

.login-panel-logo {
    position: absolute;
    left: 2em;
    top: 2em;
    max-width: 200px;
    max-height: 60px;
}

.login-panel-formContainer {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.login-panel-formContainer .quiqqer-login {
    padding: 0;
}

.login-panel-formContainer button.login {
    width: 100%;
    margin-top: 1em;
}

.quiqqer-frontendUsers-frontendlogin {
    display: flex;
    flex-direction: column;
}

.quiqqer-frontendUsers-frontendlogin-message {
    order: 2;
}

.quiqqer-frontendUsers-frontendlogin-message .quiqqer-frontendUsers-error {
    width: 100%;
    margin-top: 2em;
    background: none;
    border: none;
    padding: 0;
    color: #AE432E;
}

@media (max-width: 768px) {
    .login-main-wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content auto;
        height: 100vh;
    }

    .login-panel-wrapper {
        padding-top: 0;
    }

    .login-panel-logo {
        position: initial;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

button.fa {
    width: 42px;
    flex-shrink: 0;
}

/* für später */
/* floating button */

.floating-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
