* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    background: #ffffff;
    font-size: 15px;
    height: 100%;
}

body {
    font-weight: 300;
    line-height: 1.7em;
    color: #393e45;
    background: #ffffff;
    min-height: 100%;
    margin: 0;
    width: 100%;
}

body, input, textarea, select {
    font-family: 'Lato', sans-serif;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.5em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

small, .font_small, .font-small {
    font-size: 0.75em;
}

img {
    max-width: 100%;
}

ul, ol {
    margin-left: 1em;
}

/** helper
 ===================================== */

.grid-children {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.grid-children-container {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
}

.hide-on-desktop {
    display: inline-block;
}

.hide-on-mobile {
    display: none;
}

@media (min-width: 767px) {
    .hide-on-desktop {
        display: none;
    }

    .hide-on-mobile {
        display: inline-block;
    }
}

/***********************/
/* sequry custom popup */
/***********************/
.sequry-customPopup {
    /*max-width: calc(100% - 40px) !important;*/
    /*width: 400px !important;*/
    /*margin: 0 20px;*/
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

/* icon */
.sequry-customPopup .popup-icon {
    display: block;
    margin: 5px auto 20px;
    text-align: center;
    font-size: 30px;
    color: #434545;
    box-shadow: 0 0 0 4px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
}

/* content */
.sequry-customPopup .popup-title {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

/* buttons */
.sequry-customPopup .qui-window-popup-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: none;
}

.sequry-customPopup .qui-window-popup-buttons:after,
.sequry-customPopup .qui-window-popup-sheet-buttons:after {
    height: 1px;
    background: #ddd;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 1;
}

.sequry-customPopup .qui-window-popup-buttons .qui-button:first-child {
    background: none;
    border: none;
    color: #434545;
}

.sequry-customPopup .qui-window-popup-buttons .qui-button:last-child {
    background: none;
    border: none;
    color: #999;
}