

.qui-elements-list-dropdown {
    z-index: 1003 !important;
}

.pcsg-gpm-password-warning {
    font-size: 90%;
    line-height: 160%;
}

/***************************/
/* security classes / auth */
/***************************/
.password-security-class.password-field-row-right {
    overflow: visible; /* im moment keine bessere Idee */
}
.password-security-class-row .password-field-row-left {
    margin-top: 10px;
}

.password-security-class .pcsg-gpm-securityclasses-selectslider {
    padding: 15px 20px 10px 20px;
}

.password-security-class .pcsg-gpm-securityclasses-selectslider-slider {
    width: 100%;
    float: none;
}

/* security class bottom info */
.pcsg-gpm-securityclasses-selectslider-info {
    display: block;
    margin-top: 50px !important;
    margin-left: -20px !important;
    margin-right: -20px;
    margin-bottom: 0;
    min-width: 100%;
    width: calc(100% + 40px);
    background-color: #cee6f2;
    border: 1px solid #058dc7;
    border-radius: 5px;
    color: #000;
    float: none !important;
    line-height: 20px;
    padding: 10px;
}

/***************/
/* user select */
/***************/
.password-field-row-alignTop.password-user-select-wrapper .password-field-row-left {
    margin-top: 5px;
}

.password-user-select {
    width :100%;
}

.password-field-row .password-field-row-right.password-user-select {
    display: block;
}

.password-user-select .qui-elements-select {
    float: none;
    height: auto !important;
    border-bottom: 1px solid #ddd;
    display: flex;
    transition: 0.2s all ease-out;
}

.password-user-select .qui-elements-select:hover {
    border-bottom-color: #aaa;
}

.password-user-select .qui-elements-select-list {
    height: auto !important;
    border: none;
    background: none;
    padding: 0;
    width: calc(100% - 40px) !important;
}

.password-user-select .qui-elements-selectItem {
    border-bottom: none;
    padding: 3px 0;
}

.password-user-select .qui-elements-selectItem:hover,
.password-user-select .qui-elements-selectItem:focus,
.password-user-select .qui-elements-selectItem:active {
    background: none;
}

.password-user-select .qui-button.qui-utils-noselect {
    border-bottom: none;
    width: 40px !important;
}

.password-user-select .qui-button:hover {
    background: none;
}

/* user search */
.password-user-select .qui-elements-select-list-search {
    width: calc(100% - 40px) !important;
    border: none;
    margin: 3px 0;
}

.password-user-select .qui-elements-select-list-search:focus {
    outline: none;
}


/* select info */
.pcsg-gpm-password-warning {
    background-color: #FAF6D4;
    border: 1px solid #E6C26E;
    border-radius: 5px;
    color: #000;
    float: left;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px !important;
    padding: 10px;
    width: 100%;
}

.pcsg-gpm-password-hint {
    background-color: #cee6f2;
    border: 1px solid #058dc7;
    border-radius: 5px;
    color: #000;
    float: left;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px !important;
    padding: 10px;
    width: 100%;
}

/*************/
/** Tooltip **/
/*************/
.pcsg-gpm-tooltip {
    position: relative;
    display: inline;
}

.pcsg-gpm-tooltip span {
    position: absolute;
    /*width: 140px;*/
    padding: 0 15px;
    color: #FFFFFF;
    background: #333;
    margin-left: 10px;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    /*visibility: hidden;*/
    border-radius: 6px;
}

.pcsg-gpm-tooltip span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #333;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.pcsg-gpm-tooltip-top {
    position: relative;
    display: inline;
}

.pcsg-gpm-tooltip-top span {
    position: absolute;
    /* width: 140px; */
    color: #FFFFFF;
    padding: 10px;
    background: #333;
    min-height: 30px;
    /*line-height: 30px;*/
    text-align: left;
    width: 300px;
    /* visibility: hidden; */
    border-radius: 6px;
    /* top: 0; */
    left: -135px;
    bottom: 15px;
}

.pcsg-gpm-tooltip-top span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #333;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.pcsg-gpm__hidden {
    display: none;
}

.pcsg-gpm-tooltip-left {
    position: relative;
    display: inline;
}

.pcsg-gpm-tooltip-left span {
    right: 45px;
    position: absolute;
    /*width: 140px;*/
    padding: 0 15px;
    color: #FFFFFF;
    background: #333;
    margin-left: 10px;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    /*visibility: hidden;*/
    border-radius: 6px;
}

.pcsg-gpm-tooltip-left span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid #333;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

/************************/
/* password type select */
/************************/
/*.password-type-select-wrapper {
    background: #f3f3f3;
    padding: 10px 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
}*/
.password-type-select .qui-select {
    width: 100%;
    background: #eee;
    border: none;
}

/*******************/
/* category (tags) */
/*******************/
.pcsg-gpm-categories-select {
    display: flex;
    align-items: flex-start;
}

.pcsg-gpm-categories-select-container {
    font-size: 0;
    order: 2;
}

.pcsg-gpm-categories-select-container .pcsg-gpm-passwords-categories-category {
    font-size: 0.8rem;
    background: #eee;
    color: #333;
    padding: 2px 10px;
}


.pcsg-gpm-categories-select-container .pcsg-gpm-categories-select-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    float: none;
}

.password-category .pcsg-gpm-passwords-categories-category {
    font-size: 0.8rem;
    background: #f9f9f9;
    color: #595959;
    padding: 0;
    margin-bottom: 3px;
    line-height: 25px;
}

.password-category .pcsg-gpm-passwords-categories-category-title {
    margin: 0 10px
}

.password-category .pcsg-gpm-passwords-categories-category-remove {
    margin-left: 0;
    padding: 8px 10px 8px 0;
    opacity: 0.5;
}

.password-category .pcsg-gpm-categories-select-edit {
    float: left;
    margin-left: 0;
    order: 1;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 0 5px;
    color: #999;
}

.password-category .pcsg-gpm-categories-select-edit-icon {
    font-size: 20px;
    line-height: 27px;
}

.password-category .pcsg-gpm-categories-select-edit-text {
    display: none;
}

/*******************************************/
/* custom qui loader for load pasword type */
/*******************************************/
.password-type-content .qui-loader-inner {
    margin-left: calc(30% + 20px);
    width: calc(70% - 20px);
}
.password-type-content .qui-loader-inner-fa-gear {
    top: 30px;
    color: #bbbbbb;
}

.password-type-content .qui-loader-inner-fa-gear .fa {
    top: 0;
    position: relative;
}