.password-share-select .qui-elements-select {
    height: 160px !important;
}

.password-share-select .qui-elements-select-list {
    border-radius: 0;
}

.password-share-select .qui-elements-selectItem {
    border-bottom: none;
}

.password-share-select .qui-elements-select-list-search {
    width: 100% !important;
    margin-top: 0;
    border-top: none;
    background: none !important;
    border-color: #ddd;
}

.password-share-select .qui-elements-select-list-search-loader {
    display: none;
}

.password-share-select.password-field-row-right button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    border-bottom-color: transparent;
}