.password-field-textToCopy {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.password-field-textToCopy .password-field-value {
    margin-bottom: 0;
    max-width: calc(100% - 40px); /* width of copy button */
    padding-left: 10px;
    /*font-size: 13px;*/
    word-wrap: break-word;
}

.password-field-textToCopy .fa-copy {
    border-bottom: none;
}

.password-category .pcsg-gpm-tooltip {
    display: none;
}