
.qui-elements-list-dropdown {
    z-index: 1003 !important;
}

.pcsg-gpm-password-warning {
    font-size: 90%;
    line-height: 160%;
}

/***************************/
/* security classes / auth */
/***************************/
.password-security-class.password-field-row-right {
    overflow: visible; /* im moment keine bessere Idee */
}

.password-security-class-row .password-field-row-left {
    margin-top: 10px;
}

.password-security-class .pcsg-gpm-securityclasses-selectslider {
    padding: 15px 20px 10px 20px;
}

.password-security-class .pcsg-gpm-securityclasses-selectslider-slider {
    float: none;
    width: 100%;
}

/* security class bottom info */
.pcsg-gpm-securityclasses-selectslider-info {
    background-color: #cee6f244;
    border: 1px solid #058dc744;
    border-radius: 5px;
    color: #000;
    display: block;
    float: none !important;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -20px !important;
    margin-right: -20px;
    margin-top: 50px !important;
    min-width: 100%;
    padding: 10px;
    width: calc(100% + 40px);
    font-size: 0.9rem;
}

/***************/
/* user select */
/***************/
.password-field-row-alignTop.password-user-select-wrapper .password-field-row-left {
    margin-top: 5px;
}

.password-user-select {
    width: 100%;
}

.password-field-row .password-field-row-right.password-user-select {
    display: block;
}

.password-user-select .qui-elements-select {
    border-bottom: 1px solid #ddd;
    display: flex;
    float: none;
    height: auto !important;
    transition: 0.2s all ease-out;
}

.password-user-select .qui-elements-select:hover {
    border-bottom-color: #aaa;
}

.password-user-select .qui-elements-select-list {
    background: none;
    border: none;
    height: auto !important;
    padding: 0;
    width: calc(100% - 40px) !important;
}

.password-user-select .qui-elements-selectItem {
    border-bottom: none;
    padding: 3px 0;
}

.password-user-select .qui-elements-selectItem:hover,
.password-user-select .qui-elements-selectItem:focus,
.password-user-select .qui-elements-selectItem:active {
    background: none;
}

.password-user-select .qui-button.qui-utils-noselect {
    border-bottom: none;
    width: 40px !important;
}

.password-user-select .qui-button:hover {
    background: none;
}

/* user search */
.password-user-select .qui-elements-select-list-search {
    border: none;
    margin: 3px 0;
    width: calc(100% - 40px) !important;
}

.password-user-select .qui-elements-select-list-search:focus {
    outline: none;
}

/* select info */
.pcsg-gpm-password-warning {
    background-color: #FAF6D466;
    border: 1px solid #E6C26E66;
    border-radius: 5px;
    color: #000;
    float: left;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px !important;
    padding: 10px;
    width: 100%;
}

.pcsg-gpm-password-hint {
    background-color: #cee6f244;
    border: 1px solid #058dc744;
    border-radius: 5px;
    color: #000;
    float: left;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 20px !important;
    padding: 10px;
    width: 100%;
}

/*************/
/** Tooltip **/
/*************/
.pcsg-gpm-tooltip {
    display: inline;
    position: relative;
}

.pcsg-gpm-tooltip span {
    background: #333;
    /*width: 140px;*/
    border-radius: 6px;
    color: #FFFFFF;
    line-height: 30px;
    margin-left: 10px;
    min-height: 30px;
    padding: 0 15px;
    position: absolute;
    /*visibility: hidden;*/
    text-align: center;
}

.pcsg-gpm-tooltip span:after {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #333;
    border-top: 8px solid transparent;
    content: '';
    height: 0;
    margin-top: -8px;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
}

.pcsg-gpm-tooltip-top {
    display: inline;
    position: relative;
}

.pcsg-gpm-tooltip-top span {
    background: #333;
    /* width: 140px; */
    border-radius: 6px;
    bottom: 15px;
    color: #FFFFFF;
    left: -135px;
    /*line-height: 30px;*/
    min-height: 30px;
    padding: 10px;
    /* visibility: hidden; */
    position: absolute;
    /* top: 0; */
    text-align: left;
    width: 300px;
}

.pcsg-gpm-tooltip-top span:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #333;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: 100%;
    width: 0;
}

.pcsg-gpm__hidden {
    display: none;
}

.pcsg-gpm-tooltip-left {
    display: inline;
    position: relative;
}

.pcsg-gpm-tooltip-left span {
    background: #333;
    border-radius: 6px;
    /*width: 140px;*/
    color: #FFFFFF;
    line-height: 30px;
    margin-left: 10px;
    min-height: 30px;
    padding: 0 15px;
    position: absolute;
    right: 45px;
    /*visibility: hidden;*/
    text-align: center;
}

.pcsg-gpm-tooltip-left span:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #333;
    border-top: 8px solid transparent;
    content: '';
    height: 0;
    left: 100%;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 0;
}

/************************/
/* password type select */
/************************/
/*.password-type-select-wrapper {
    background: #f3f3f3;
    padding: 10px 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
}*/
.password-type-select .qui-select {
    background: #eee;
    border: none;
    width: 100%;
}

/*******************************************/
/* custom qui loader for load pasword type */
/*******************************************/
.password-type-content .qui-loader-inner {
    margin-left: calc(30% + 20px);
    width: calc(70% - 20px);
}

.password-type-content .qui-loader-inner-fa-gear {
    color: #bbbbbb;
    top: 30px;
}

.password-type-content .qui-loader-inner-fa-gear .fa {
    position: relative;
    top: 0;
}