.password-share-select.password-field-row-right {
    margin-top: 5px;
}

.password-share-select .qui-elements-select {
    height: 160px !important;
}

.password-share-select .qui-elements-select-list {
    border-radius: 0;
}

.password-share-select .qui-elements-selectItem {
    border-bottom: none;
}

.password-share-select .qui-elements-select-list-search {
    background: none !important;
    border-color: #ddd;
    border-top: none;
    margin-top: 0;
    outline: none;
    padding-left: 10px;
    width: 100% !important;
}

.password-share-select .qui-elements-select-list-search-loader {
    display: none;
}

.password-share-select.password-field-row-right button {
    border-bottom-color: transparent;
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 0;
}

.password-share-select.password-field-row-right button:hover {
    background: none;
}