.password-field-textToCopy {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.password-field-textToCopy .password-field-value {
    margin-bottom: 0;
    max-width: calc(100% - 40px); /* width of copy button */
    word-wrap: break-word;
    /*font-size: 13px;*/
    padding-left: 10px;
}

.password-field-textToCopy .fa-copy {
    border-bottom: none;
}