/* menu */
.sequry-desktop-menu {
    width: 300px;
    /*background: #2d445a;*/
    /*color: #bfccd9;*/
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.sequry-desktop-menu h2,
.sequry-desktop-menu header {
    margin: 1rem;
}

.sequry-desktop-menu header {
    font-weight: 400;
    font-size: 1.1rem;
}

.sequry-desktop-menu .header-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 2rem;
}

.sequry-desktop-menu .header-button-icon {
    padding: 1rem;
    cursor: pointer;
    width: 3rem;
}

.sequry-desktop-menu .header-button-icon:hover {
    background: rgba(0, 0, 0, 0.1);
}

.navigation {
    list-style: none;
    margin: 0;
    margin-bottom: 2rem;
}

.sequry-tags .navigation {
    border-bottom: none;
}

.navigation-entry a {
    display: flex;
    padding-left: 2rem;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    line-height: 3rem;
    align-items: center;
}

.navigation-entry a.active,
.navigation-entry a:hover {
    background: rgba(0, 0, 0, 0.03);
    color: inherit;
}

.navigation-entry-icon {
    width: 1rem;
    margin-right: 1rem;
}

.navigation-entry-icon-remove {
    margin-left: auto;
    width: 3rem;
    line-height: inherit;
    padding: 0 1rem;
}

.navigation-entry-text-private {
    margin-left: 5px;
    opacity: 0.7;
    font-size: 0.9em;
}