/*****************/
/* sidebar panel */
/*****************/
.sidebar-panel {
    position: fixed;
    right: -100%;
    top: 0;
    background: #fff;
    height: 100vh;
    width: 600px;
    max-width: 100%;
    transition: 0.5s all ease-in-out;
    z-index: 1002;
}

.sidebar-panel-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr auto;
    height: 100%;
}

/* header */
.sidebar-panel-header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background: #eee;
}

.sidebar-panel-header-title {
    margin: 0;
}

.sidebar-panel-content {
    padding: 2rem;
    overflow-y: auto;
}

/* content */
.password-field-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.password-field-row.password-field-row-alignTop {
    align-items: flex-start;
}

.password-field-row-left {
    width: 30%;
}

.password-field-row-right {
    flex-grow: 1;
    width: 70%;
}

.password-field-row .password-field-row-right {
    /*line-height: inherit;*/
    /*padding: 10px;*/
    border: 1px solid transparent;
    display: flex;
}

.password-field-row-right .password-field-row-right-input {
    line-height: inherit;
    padding: 10px;
    border: 1px solid transparent;
    width: 100%;
}

.password-field-row .password-field-row-right:hover {
    border-color: #eee;
}

/* actions buttons */
.sidebar-panel-action-buttons {
    padding: 1rem 2rem;
    text-align: right;
    width: 100%;
    border-top: 1px solid #ddd;
}

.sidebar-panel-action-buttons button  {
    margin-right: 1rem;
}

.sidebar-panel-action-buttons button:last-child {
    margin-right: 0;
}